body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#hero {
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#title {
    font-size: 32px;
    font-weight: 900;
    color: white;
}

#subtitle {
    font-size: 25px;
    font-weight: 400;
    color: #FFF;
    margin-top: 10px;
}